body {
  margin: 0;
  background: #f2f2f2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

main,
form {
  width: 100%;
}

h1, h2 {
  text-align: center;
  color: #313131;
}

.about {
  color: #313131;
  background: #fafafa;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 1.5em;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 1em;
}

.about em {
  color: #313161;
  font-weight: bold;
}

.about a {
  text-decoration: none;
}

.about form {
  width: 100%;
}

@media all and (min-width: 900px) {
  .about {
    width: 60%;
  }
  .about form {
    width: 70%;
  }
  .about li {
    font-size: 1em;
  }
}

#signup {
  display: block;
  width: 55%;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25em;
}

/**
 * Splash
 */
nav {
  margin: 0 0 2em 0;
  background-color: grey;
  background-image: url(/images/splash.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

nav h1 {
  margin: 0;
  font-size: 2em;
  width: 100%;
}

nav h1 a {
  display: block;
  text-align: right;
  font-size: .6em;
}

nav a:hover {
  text-decoration: underline;
}

nav a,
nav ul li a {
  color: white;
  text-decoration: none;
}

@media all and (orientation: landscape) {
  nav h1 {
    font-size: 2.5em;
    top: 4.5em;
  }
}

article {
  color: #313131;
  text-align: center;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 1em;
}

#question {
  font-size: 2em;
}

@media all and (min-width: 900px) {
  #question {
    font-size: 4em;
  }
  article {
    width: 40%;
  }
  li {
    font-size: 2em;
  }
}

nav ul {
  padding-left: 1.25em;
  margin: 0;
  list-style-type: none;
  color: white;
}

section img {
  width: 100%;
}

header h1 {
  text-align: left;
  margin-bottom: .6em;
  margin-left: .5em;
  font-size: 1em; 
}

.active {
  font-weight: bold;
}

.pending {
  font-size: .7em; 
}

footer {
  position: relative;
  margin-bottom: 1em;
}

/**
 * Buttons
 */

button {
  width: 30%;
  color: #ffffff;
  font-size: 2em;
  border: none;
}

.yes {
  background-color: #005b00;
  margin-left: 1.5em;
  border-radius: 4px;
}

.no {
  background-color: #f60239;
  margin-right: 1.5em;
  border-radius: 4px;
}


/**
 * Star rating
 * 
 * 2017-4-5, old-version for reference
 * https://codepen.io/Bluetidepro/pen/GkpEa
 */
.star-ratings {
  width: 125px;
  height: 50px;
  font-size: 2em;
  position: relative;
  text-align: left;
}

.star-ratings-bottom,
.star-ratings-top {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.star-ratings-top {
  z-index: 1;
  color: #e7711b;
  overflow: hidden;
}

.star-ratings-bottom {
  color: #c5c5c5;              
} 

.percent-rating {
  font-size: 2em;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #188EE4;
  font-weight: bold;
  opacity: 0.75;
  text-align: right;
  right: .5em;
}

/* Details */
.details {
  font-size: 1.5em;
  margin-right: 1em;
  text-align: right;
}

.details .nos {
  color: #771F1F;
}

.details .yeses {
  color: #33825e;
}

.details .total-votes {
/*  color: #e7711b;*/
}

/**
 * Alerts
 */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  font-size: 3em;
  text-align: center;
  word-wrap: break-word;
}

.alert-success {
  background-color: #4caf50; /* Green */
}

.alert-info {
  background-color: #2196f3; /* Blue */
}

.alert-warning {
  background-color: #ff9800; /* Orange */
}

/**
 * Forms
 */
input {
  font-size: 1.1em;
}

.form-group {
  padding: 0 0 1em 0;
  display: block;
  width: 80%;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

.form-group input {
  border: 1px solid #ccc;
  border-radius: 4px;
  float: right;
  width: 100%;
}

.form-group label {
  display: block;
}

form {
  width: 100%;
  background-color: white;
  padding-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 900px) {
  form {
    width: 40%;
  }
}

/* Delete form */

.delete {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

.delete input {
  font-size: 2em;
  width: 15%;
  color: #ffffff;
  background-color: #b33a3a;
  margin: 0;
  padding: 0;
  border: 0;
}

@media all and (min-width: 900px) {
  .delete {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
  }
}

/**
 * Pagination
 */
.pagination {
  font-size: 2em;
  background-color: #141471;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.pagination a {
  color: white;
  text-decoration: none;
}

.pagination a:hover {
  text-decoration: underline;
}
