body {
  margin: 0;
}

main,
form {
  width: 100%;
}

/**
 * Splash
 */
nav {
  margin: 0 0 2em 0;
  background-color: grey;
  background-image: url(/images/splash.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

nav h1 {
  margin: 0;
  font-size: 2em;
  width: 100%;
}

nav h1 a {
  display: block;
  text-align: right;
}

nav a:hover {
  text-decoration: underline;
}

nav a,
nav ul li a {
  color: white;
  text-decoration: none;
}

@media all and (orientation: landscape) {
  nav h1 {
    font-size: 2.5em;
    top: 4.5em;
  }
}

article {
        /*
  width: 90%;
  text-align: center;
  background-color: #efefef;
  border-radius: 3px;
  margin-bottom: 2em;
  margin 0em 0em 2em 0em;
  */

  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;
}

#question {
  font-size: 2em;
}

@media all and (min-width: 900px) {
  #question {
    font-size: 4em;
  }
  li {
    font-size: 2em;
  }
}

nav ul {
  margin: 0;
  list-style-type: none;
  color: white;
}

section img {
  width: 100%;
}

header h1 {
  margin-top: .1em;
  margin-bottom: .1em;
  font-size: 1.3em; 
}

footer {
  position: relative;
}

/*
footer button {
  font-size: 3em;
}
*/

.yes {
  margin-right: .5em;
  float: right; 
}

.no {
  margin-left: .5em;
  float: left; 
}

/**
 * Star rating
 * 
 * 2017-4-5
 * https://codepen.io/Bluetidepro/pen/GkpEa
 */
.star-ratings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 50px;
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.star-ratings-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}

.star-ratings-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}

/**
 * Alerts
 */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  font-size: 3em;
  text-align: center;
}

.alert-success {
  background-color: #4caf50; /* Green */
}

.alert-info {
  background-color: #2196f3; /* Blue */
}

.alert-warning {
  background-color: #ff9800; /* Orange */
}

/**
 * Forms
 */
input {
  font-size: 1.1em;
}

input,
.form-group {
  display: block;
  width: 80%;
  margin: 0;
  border: 0;
}

form {
  width: 80%;
  margin-left: 1em;
  margin-right: 1em;
}

/*
button,
*/
button[type="submit"] {
  padding: 0.5em;
/*
  color: #FFF;
  background: #1abc9c;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
*/
}
