<h1>Registration</h1>
<h2>Enter a valid email to activate account and set password</h2>
<% form_for(@agent, '/agents/create') do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= error_message_on @agent, :email, :class => "text-error", :prepend => "The email " %>
  <p>
    <%= f.submit "Register", :class => "btn btn-primary" %>
  </p>
<% end %>
