<article>
  <header><h1><%= post[:tag] %></h1></header>
  <section class="image">
    <img src='<%= post[:url] %>' alt='<%= post[:tag] %>'>
  </section>
  <footer>
    <button class="no">No</button>
    <button class="yes">Yes</button>
  </footer>
</article>
