<nav>
  <ul>
    <li id="question"><a href='/'><%= ENV['QUESTION'] %></a></li>
    <% if logged_in? %>
     <ul>
        <li><a href='/post'>Top Picks</a></h1></li>
        <li><a href="/agents/<%= agent_id %>">Your posts</a></li>
        <li><a href="/agents/<%= agent_id %>/yeses">Yeses</a></li>
        <li><a href="/agents/<%= agent_id %>/nos">Nos</a></li>
        <li><a href="/logout">Logout</a>
      </ul>
    <% else %>
      <ul>
        <li><a href='/post'>Top Picks</a></li>
        <li><a href='/login'>Login</a></li>
      </ul>
    <% end %>
  </ul>
  <h1><a href='/'>Yes or no?</a></h1>
</nav>

