<div class="about">
  <p>
    <em>Yes or no?</em> is a simple, visual, vote-tallying web application.
  </p>
  <p>
    It features:
  </p>
  <ul>
    <li>Easy account <a href="/agents/new">sign up</a></li>
    <li>Out-of-the-box <a href="http://heroku.com">Heroku</a>-ready deployment configuration</li>
    <li>Automatic deapproval of missing resources</li>
    <li>Administrative control of:</li>
    <ul>
      <li>Registered agents</li>
      <li>Submitted posts with pre-screening</li>
    </ul>
  </ul> 
  <p>
    Images submitted to <em>Yes or no?</em> are required to be hosted on an
    external server. This increases accountability and leaves the subject matter
    in control of its rightful owner.
  </p>
  <p>
    Naturally, it is assumed that publicly available resources are intended for
    public consumption. If this is not the case, the owner of the resource can
    simply remove it or lock it down.
  </p>
  <p>
    As implemented, the <em>Yes or no?</em> application can only be
    sensibly applied to queries with yes-or-no answers. The following comprises
    a list of appropriate ways to open a yes-or-no question:
  </p>
  <ul>
    <li>Is it?</li>
    <li>Is this?</li>
    <li>Is he?</li>
    <li>Is she?</li>
  </ul>
  <ul>
    <li>Isn't it?</li>
    <li>Isn't this?</li>
    <li>Isn't he?</li>
    <li>Isn't she?</li>
  </ul>
  <ul>
    <li>Am I?</li>
    <li>Are you? Mad bro?</li>
    <li>Are they?</li>
  </ul>
  <ul>
    <li>Aren't I?</li>
    <li>Aren't you?</li>
    <li>Aren't they?</li>
  </ul>
  <ul>
    <li>Will it?</li>
    <li>Will this?</li>
    <li>Will I?</li>
    <li>Will you?</li>
    <li>Will he?</li>
    <li>Will she?</li>
    <li>Will they?</li>
  </ul>
  <ul>
    <li>Won't it?</li>
    <li>Won't this?</li>
    <li>Won't I?</li>
    <li>Won't you?</li>
    <li>Won't he?</li>
    <li>Won't she?</li>
    <li>Won't they?</li>
  </ul>
  <ul>
    <li>Did I?</li>
    <li>Did you?</li>
    <li>Did it?</li>
    <li>Did this?</li>
    <li>Did he?</li>
    <li>Did she?</li>
    <li>Did they?</li>
  </ul>
  <ul>
    <li>Didn't I?</li>
    <li>Didn't you?</li>
    <li>Didn't it?</li>
    <li>Didn't this?</li>
    <li>Didn't he?</li>
    <li>Didn't she?</li>
    <li>Didn't they?</li>
  </ul>
  <ul>
    <li>Does it?</li>
    <li>Does this?</li>
    <li>Does he?</li>
    <li>Does she?</li>
  </ul>
  <ul>
    <li>Doesn't it?</li>
    <li>Doesn't this?</li>
    <li>Doesn't he?</li>
    <li>Doesn't she?</li>
  </ul>
  <ul>
    <li>Don't I?</li>
    <li>Don't you?</li>
    <li>Don't they?</li>
  </ul>
  <ul>
    <li>Would I?</li>
    <li>Would you?</li>
    <li>Would it?</li>
    <li>Would this?</li>
    <li>Would he?</li>
    <li>Would she?</li>
    <li>Would they?</li>
  </ul>
  <ul>
    <li>Wouldn't I?</li>
    <li>Wouldn't you?</li>
    <li>Wouldn't it?</li>
    <li>Wouldn't this?</li>
    <li>Wouldn't he?</li>
    <li>Wouldn't she?</li>
    <li>Wouldn't they?</li>
  </ul>
  <ul>
    <li>Won't I?</li>
    <li>Won't you?</li>
    <li>Won't it?</li>
    <li>Won't this?</li>
    <li>Won't he?</li>
    <li>Won't she?</li>
    <li>Won't they?</li>
  </ul>
  <ul>
    <li>Have I?</li>
    <li>Have you?</li>
    <li>Have they?</li>
  </ul>
  <ul>
    <li>Has it?</li>
    <li>Has he?</li>
    <li>Has she?</li>
  </ul>
  <ul>
    <li>Hasn't it?</li>
    <li>Hasn't he?</li>
    <li>Hasn't she?</li>
  </ul>
  <ul>
    <li>Haven't I?</li>
    <li>Haven't you?</li>
    <li>Haven't they?</li>
  </ul>
  <ul>
    <li>Had I?</li>
    <li>Had you?</li>
    <li>Had she?</li>
    <li>Had he?</li>
    <li>Had they?</li>
    <li>Had it?</li>
    <li>Had this?</li>
  </ul>
  <ul>
    <li>Hadn't I?</li>
    <li>Hadn't she?</li>
    <li>Hadn't he?</li>
    <li>Hadn't they?</li>
    <li>Hadn't you?</li>
    <li>Hadn't it?</li>
    <li>Hadn't this?</li>
  </ul>
  <ul>
    <li>Can I?</li>
    <li>Can you?</li>
    <li>Can they?</li>
    <li>Can this?</li>
    <li>Can it?</li>
    <li>Can he?</li>
    <li>Can she?</li>
  </ul>
  <ul>
    <li>Can't I?</li>
    <li>Can't you?</li>
    <li>Can't they?</li>
    <li>Can't this?</li>
    <li>Can't it?</li>
    <li>Can't he?</li>
    <li>Can't she?</li>
  </ul>
  <ul>
    <li>Should I?</li>
    <li>Should you?</li>
    <li>Should it?</li>
    <li>Should this?</li>
    <li>Should he?</li>
    <li>Should she?</li>
    <li>Should they?</li>
  </ul>
  <ul>
    <li>Shouldn't I?</li>
    <li>Shouldn't you?</li>
    <li>Shouldn't it?</li>
    <li>Shouldn't this?</li>
    <li>Shouldn't he?</li>
    <li>Shouldn't she?</li>
    <li>Shouldn't they?</li>
  </ul> 
  <p>
    Are any missing?
  </p>
</div>
