<!doctype html>
<html>
  <head>
    <title>Yes or no?</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pagination.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body>
    <nav><h1 id="question"><a href='/'>Yes or no?</a></h1></nav>
    <%= partial(:flash, {locals: {obj: flash} }) %>
    <%= yield %>
  </body>
</html>
