<!doctype html>
<html>
  <head>
    <title>Yes or no?</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pagination.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
  </head>
  <body>
    <nav><h1 id="question"><a href='/'>Yes or no?</a></h1></nav>
    <%= partial(:flash, {locals: {obj: flash} }) %>
    <%= yield %>
    <!--
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      -->
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/respond.js"></script>
  </body>
</html>
